select {
    margin-bottom: 1.5em;
}

.highlight {
    background-color: cyan;
}

.row-highlight {
    background-color: lightgrey;
}

.selected {
    background-color: black;
    color: white !important;
}

.editor {
    font-family: monospace;
    border: 1px solid;
    padding: 10px;
    float: left;
    overflow: auto;
    height: 95%;
    width: 95%;
}

.editor span {
    margin-right: .5em;
}

.editor div.row span :last-child {
    margin-left: -.5em;
}

.channel {
    border: 1px solid;
    padding: 2px;
    float: left;
}

.channel .header {
    background-color: lightgrey;
    margin-bottom: 5px;
    border-bottom: 1px dashed;
}

.channel .header:hover {
    cursor: pointer;
    background-color: #DDDDDD;
}

.muted {
    background-color: grey !important;
}

.note {
    color: black;
}

.instrument {
    color: darkblue;
}

.volume {
    color: darkgreen;
}

.blank {
    color: black;
}

#pattern-list {
    height: 3em;
    display: table;
}

#pattern-list div {
    border: 1px solid black;
    border-left: 0px;
    font-family: sans-serif;
    margin-right: 0px;
    width: 3em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#pattern-list :hover {
    background: lightgrey;
    cursor: pointer;
}

#pattern-list :nth-child(2) {
    border-left: 1px solid black;
}

.pattern-selected {
    background: #000066 !important;
    color: white;
}

.position-button {
    background: lightgrey;
    padding: 2px;
    border-bottom: 2px black solid !important;
    border-right: 2px black solid !important;
    border-top: 2px grey solid !important;
    border-left: 2px grey solid !important;
    border-radius: 5px;
}

#sample-editor {
    border: 1px solid grey;
    background: white;
    min-width: 75%;
    min-height: 256px;
    margin-left: 12.5%;
    margin-top: 6%;
    position: absolute;
    z-index: 10;
    display: none;
}

/* Effect colors */

.setvolume {
    color: darkgreen;
}

.volumeslide {
    color: darkgreen;
}

.patternbreak {
    color: darkred;
}

.setspeed {
    color: darkred;
}