select {
    margin-bottom: 1.5em;
}

.highlight {
    background-color: cyan;
}

.row-highlight {
    background-color: lightgrey;
}

.editor {
    font-family: monospace;
    border: 1px solid;
    padding: 10px;
    float: left;
}

.editor span {
    margin-right: .5em;
}

.channel {
    border: 1px solid;
    padding: 2px;
    float: left;
}

.channel .header {
    background-color: lightgrey;
    margin-bottom: 5px;
    border-bottom: 1px dashed;
}

.note {
    color: black;
}

.instrument {
    color: darkblue;
}

.volume {
    color: darkgreen;
}

.blank {
    color: black;
}

/* Effect colors */

.setvolume {
    color: darkgreen;
}

.volumeslide {
    color: darkgreen;
}

.patternbreak {
    color: darkred;
}

.setspeed {
    color: darkred;
}